.App {
  text-align: center;
}

body{
  background-color: whitesmoke;
  font-family:  Roboto;
  margin: 16px;
}

.phone-container{
background-color: white;
width: 450px;
margin: 20px;
border-radius: 12px;
overflow: hidden; 
box-shadow: 9px 4px 9px 3px rgba(0,0,0,0.76);
-webkit-box-shadow: 9px 4px 9px 3px rgba(0,0,0,0.76);
-moz-box-shadow: 9px 4px 9px 3px rgba(0,0,0,0.76);

}

.phone-company{
  font-size: 32px;
  color:grey;
  margin-top: 0px;
}

.phone-image{
  height: 450px;
  width: 450px;
  object-fit: contain;
}
