.App {
  text-align: center;
}

body{
  background-color: whitesmoke;
  font-family:  Roboto;
  margin: 16px;
}

.phone-container{
background-color: white;
width: 450px;
margin: 20px;
border-radius: 12px;
overflow: hidden; 
box-shadow: 9px 4px 9px 3px rgba(0,0,0,0.76);
-webkit-box-shadow: 9px 4px 9px 3px rgba(0,0,0,0.76);
-moz-box-shadow: 9px 4px 9px 3px rgba(0,0,0,0.76);

}

.phone-company{
  font-size: 32px;
  color:grey;
  margin-top: 0px;
}

.phone-image{
  margin: 10px;
  height: 450px;
  width: 450px;
  object-fit: contain;
}

.phone-list-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}

.phone-cart{
  font-size: 14px;
  margin-bottom: 20px;

}
.cart-Quantity > span{
color: grey;
font-size: 20px;
}

.CartBar{
  margin-right: auto;
}

.cart-container{
  display: flex;
  background-color: rgb(218, 188, 140);
  text-align: left;
 width: 100%;
  border-radius: 10px;
}

.cart-image{
  margin: 10px;
  height: 240px;
  width: 350px;
  object-fit: contain;
}

.cart-company{
  
  color:grey;
  margin-top: 0px;
}

.cart-list > button{
text-align: right;
}

.cart-list {
  width: 100vw;
  }
  
.cart-checkout{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  margin-top: 20px;
  margin-left: auto;
  width: 200px;
  padding: 40px;
}

.phone-price{
  font-size: 24px;
  
}

.cart-Total > span{
  color: grey;
  font-size: 25px;
  }

  .cart-Total{
    margin-left: auto;
    margin-top: auto;
    padding: 40px;
    font-size: 24px;
  }